@import "bootstrap.min.css";

@font-face {
    font-family: OpenSans-CondBold;
    src: url("../fonts/OpenSans-CondBold.ttf")
}
.OpenSans-CondBold { font-family: OpenSans-CondBold; }
@font-face {
    font-family: OpenSans-CondLight;
    src: url("../fonts/OpenSans-CondLight.ttf")
}
.OpenSans-CondLight { font-family: OpenSans-CondLight; }
@font-face {
    font-family: OpenSans-Regular;
    src: url("../fonts/OpenSans-Regular.ttf")
}
.OpenSans-Regular { font-family: OpenSans-Regular; }
@font-face {
    font-family: SourceSansPro-Regular;
    src: url("../fonts/SourceSansPro-Regular.ttf")
}
.SourceSansPro-Regular { font-family: SourceSansPro-Regular; }
@font-face {
    font-family: SourceSansPro-Light;
    src: url("../fonts/SourceSansPro-Light.ttf")
}
.SourceSansPro-Light { font-family: SourceSansPro-Light; }
@font-face {
    font-family: SourceSansPro-SemiBold;
    src: url("../fonts/SourceSansPro-SemiBold.ttf")
}
.SourceSansPro-SemiBold { font-family: SourceSansPro-SemiBold; }

body {
  background-image: url('../img/bg.jpg');
  font: 17.5px SourceSansPro-Light;
  line-height: 23px;
  color: #02A892;
}

h1 { font-size: 51px; color: #02A892; line-height: 39px;}
h5 { font: 17.5px OpenSans-CondLight; color: #fff;}

.blueBox { 
    background-color: #003B49;
    padding-bottom: 10px;
    border-left: 1px solid #01262f;
    border-right: 1px solid #01262f; 
}
.blueTop { border-top: 1px solid #01262f}
.smaller { font-size: 60% }
.icon-large { font-size: 20px; margin-left: 5px;}
.greenTextMain { font: 23px SourceSansPro-Light; line-height: 33px; color: #66b245; padding: 40px 150px 20px; }
.greenTextSub { font: 23px SourceSansPro-Light; line-height: 33px; color: #66b245;  margin-bottom: 35px; }
.greenText { color: #66b245; }
.outline { border:1px solid #02A892}
.main-title { margin-bottom: 20px; }
.sub-title { border-top: 1px solid #02A892; border-bottom: 1px solid #02A892; color: #02A892; font-size: 21px; padding: 5px 10px ; margin-bottom: 40px; margin-top: 60px; }
.navbar-nav>li>a { color: #02A892; padding: 8px 10px; margin: 10px 0px 0px;}
.navbar-nav>li>a:hover { color: #fff; background-color: #02A892 }
blockquote, .blockquote-reverse { border: none; padding: 20px 0px;}
a { color: #02A892;}
a:hover { text-decoration: none; color: #fff; cursor: pointer; }
hr { border-color: #02A892;}
.nolink:hover { text-decoration: none; color: #02A892; }
.divider { background-image: url( "../img/hexagons.png"); background-repeat: repeat-x; height: 150px; margin-top: 30px; margin-bottom: 20px}
.info-text { margin-top: 56px; line-height: 26px}
.main-img { margin-bottom: 40px; margin-right: 20px}
.element { margin-bottom: 40px;}
.font-lead { font: 13.5px OpenSans-CondLight; color: #fff; margin-top: 20px }
.font-example { font-size: 38px; margin-top: 30px; margin-bottom: 25px;}
div.font-link { border-radius: 4px;  margin-bottom: 30px; color: #fff; padding:20px;}
.font-link:hover { background-color: #02A892}
.font-link:hover a { color: #fff; }
span.font-link { border-radius: 4px; padding: 3px 6px;}

.footer-text { color: #666; font: 14px SourceSansPro-SemiBold; margin: 20px 0px 30px  }